.blog-header
  .blog-header__contents{style: "background-image: url(#{@blog.image})"}
    %p.blog-header__contents__blog-name
      =@blog.blog_name
    %p.blog-header__contents__blog-introduction
      =@blog.blog_introduction